frontend/.angular/
frontend/.vscode/
frontend/node_modules/
frontend/dist/
frontend/package-lock.json
backend/.env
backend/tmp/
terraform/.terraform.lock.hcl
terraform/.terraform/
frontend/src/environments/environment.prod.ts
backend/main
