<div class="game-list">
  <h2>Active Games</h2>
  <div *ngFor="let game of games" class="game">
    <div class="game-info">
      <p>Players: {{ game.Player1Username }}<span *ngIf="game.Player2ID !== 0">, {{ game.Player2Username }}</span></p>
    </div>
    <div class="game-actions">
      <div class="username-input">
        <input type="text" [(ngModel)]="playerUsernames[game.ID]" placeholder="Enter your username">
        <button (click)="joinGame(game.ID)" [disabled]="game.Player2ID != 0">Join</button>
      </div>
    </div>
  </div>
</div>